.menu{
    color: rgb(236, 18, 145);
}
.banner p{
    width: 500%;
    margin-left: 30px;
}
.pins{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pin{
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    width: 200px;
}
.pin img {
    width: 70%;
    height: 90px;
    object-fit: cover;
  }